
<%= render 'layouts/banner'; %>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Project</th>
      <th>Opport</th>
      <th>Opport c</th>
      <th>Cost</th>
      <th>Cost c</th>
      <th>Timeline</th>
      <th>Timeline c</th>
      <th>Obstacle</th>
      <th>Obstacle c</th>
      <th>Risk</th>
      <th>Risk c</th>
      <th>Point</th>
      <th>Point c</th>
      <th>Fund</th>
      <th>Fund c</th>
      <th>Instructor</th>
      <th>Final Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.group %></td>
        <td><%= grade.project %></td>
        <td><%= grade.opport %></td>
        <td><%= grade.opport_c %></td>
        <td><%= grade.cost %></td>
        <td><%= grade.cost_c %></td>
        <td><%= grade.timeline %></td>
        <td><%= grade.timeline_c %></td>
        <td><%= grade.obstacle %></td>
        <td><%= grade.obstacle_c %></td>
        <td><%= grade.risk %></td>
        <td><%= grade.risk_c %></td>
        <td><%= grade.point %></td>
        <td><%= grade.point_c %></td>
        <td><%= grade.fund %></td>
        <td><%= grade.fund_c %></td>
        <td><%= grade.totalscore %></td>
        <td><%= grade.user.first_name %></td>
        <td><%= link_to 'Show', grade %></td>
        <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
        <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grade', new_grade_path %>
