<div id="dashboard_show">
  <%= render 'layouts/banner'; %>

  <% if current_user.role.name == 'Admin' %>
    <div id="links">
      <div class="wrapper_skinny">
        <ul>
          <li><%= link_to "Manage Comments", comments_path %></li>
          <li class="current">Manage Grades</li>
          <li><%= link_to "Manage Users", users_path %></li>
          <li><%= link_to "Create PDF report", welcome_search_path %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>


<div class="wrapper_wide" style="padding-bottom: 5em;">
    
  <% if current_user.role.name == 'Instructor' %>
    <div class="pull-right" style="margin-bottom: 20px; margin-top: 40px;">
         <%= link_to 'Evaluate Presenation', new_grade_path, class: 'btn btn-primary' %>
    </div>
  <% end %>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Project Name</th>
        <th>Evaluator</th>
        <th>Role</th>
        <th>Created Time</th>
        <th>Final Grade</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @grades.each do |grade| %>
        <tr>
          <td><%= grade.group %></td>
          <td><%= link_to grade.project, grade, class: 'tag' %></td>
          <td><%= grade.user.full_name %></td>
          <td><%= grade.user.role.name %></td>
          <td><%= grade.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= grade.totalscore %></td>

          <td colspan="2" style="width: 20%;">
            <%= link_to edit_grade_path(grade), class: 'btn btn-primary' do %>
              <i class='fa fa-pencil-square-o'></i>
            <% end %>
            
            <div style="display:inline-block;">
              <button class="delete-confirm btn btn-danger"><i class="fa fa-trash-o"></i></button>
              <%= link_to grade, method: :delete, class: 'delete-button' do%>
                <i class='fa fa-pencil-square-o'></i>
              <% end %>
            </div>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pull-right">
    
  </div>
</div>

