<div class="grade-container">
    <h1 class="grade-header">Grading Details</h1>

    <div class="grade-content">
      <div class="group-info clearfix" style="border-bottom: 0;">
        <p class="pull-left"><strong>Group #:</strong> <%= @grade.group %></p>
        <p class="pull-right"><strong>Project Name:</strong> <%= @grade.project %></p>
      </div>

      <div class="group-info group-info-comment clearfix">
        <p class="pull-left"><strong>Course:</strong> <%= @grade.course.course_name %></p> 
        <p class="pull-right">
            <span class="fa fa-pencil"></span>
            <strong>Advisory Board:</strong> <%= @grade.user.full_name %>
        </p>

      </div>

      <div class="final-grade-section clearfix">
         <p class="pull-right">
            <strong><span class="fa fa-calculator"></span> Final Grade:</strong>
            <span class="final-grade"><%= @grade.totalscore %></span>
         </p>
      </div>

      <div class="criteria">Does the presentation provide a complete and compelling explanation of: </div>

      <div class="question clearfix">
          <div class="col-md-6 question-section"><%= @grade.course.gq1 %></div>
          <div class="col-md-3 grade-section"><%= @grade.opport %></div>
          <div class="col-md-3 comment-section">
            <span id="comment-a">comment</span>
          </div>
          <div class="col-md-12 comment-content clearfix">
             <span class="fa fa-comment"> Instructor Comment:</span>
             <div class="content">
                <%= @grade.opport_c %>
             </div>
          </div>
      </div>

      <div class="question clearfix">
          <div class="col-md-6 question-section"><%= @grade.course.gq2 %></div>
          <div class="col-md-3 grade-section"><%= @grade.cost %></div>
          <div class="col-md-3 comment-section"><span id="comment-b">comment</span></div>
          <div class="col-md-12 comment-content">
             <span class="fa fa-comment"> Instructor Comment:</span>
             <div class="content">
                <%= @grade.cost_c %>
            </div>
          </div>
      </div>

      <div class="question clearfix">
          <div class="col-md-6 question-section"><%= @grade.course.gq3 %></div>
          <div class="col-md-3 grade-section"><%= @grade.timeline %></div>
          <div class="col-md-3 comment-section"><span id="comment-c">comment</span></div>
          <div class="col-md-12 comment-content clearfix">
             <span class="fa fa-comment"> Instructor Comment:</span>
             <div class="content">
               <%= @grade.timeline_c %>
             </div> 
          </div>
      </div>

      <div class="question clearfix">
          <div class="col-md-6 question-section"><%= @grade.course.gq4 %></div>
          <div class="col-md-3 grade-section"><%= @grade.obstacle %></div>
          <div class="col-md-3 comment-section"><span id="comment-d">comment</span></div>
          <div class="col-md-12 comment-content clearfix">
             <span class="fa fa-comment"> Instructor Comment:</span>
             <div class="content">
               <%= @grade.obstacle %>
             </div>   
          </div>
      </div>

      <div class="question clearfix">
          <div class="col-md-6 question-section"><%= @grade.course.gq5 %></div>
          <div class="col-md-3 grade-section"><%= @grade.risk %></div>
          <div class="col-md-3 comment-section"><span id="comment-e">comment</span></div>
          <div class="col-md-12 comment-content clearfix">
             <span class="fa fa-comment"> Instructor Comment:</span>
             <div class="content">
               <%= @grade.risk_c %>
             </div>
          </div>
      </div>

      <div class="question clearfix">
          <div class="col-md-6 question-section"><%= @grade.course.gq6 %></div>
          <div class="col-md-3 grade-section"><%= @grade.point %></div>
          <div class="col-md-3 comment-section"><span id="comment-f">comment</span></div>
          <div class="col-md-12 comment-content clearfix">
             <span class="fa fa-comment"> Instructor Comment: </span>
             <div class="content">
                <%= @grade.point_c %>
             </div>
          </div>
      </div>

      <div class="question clearfix">
          <div class="col-md-6 question-section"><%= @grade.course.gq7 %></div>
          <div class="col-md-3 grade-section"><%= @grade.fund %></div>
          <div class="col-md-3 comment-section"><span id="comment-g">comment</span></div>
          <div class="col-md-12 comment-content clearfix">
             <span class="fa fa-comment"> Instructor Comment:</span>
             <div class="content">
                <%= @grade.fund_c %>
             </div>
          </div>
      </div>

      <div class="col-md-12 adv-board clearfix">
          
      </div>

    </div>

    <div class="btn-section">
       <%= link_to 'Edit', edit_grade_path(@grade), class: 'edit-btn' %>
       <%= link_to 'Back', grades_path, class: 'back-btn' %>
    </div>

</div>
