<% if @comment.errors.any? %>
  <div class="alert alert-danger">
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>


<div class="grade-content">
  
  <%= form_for(@comment, html: {role: 'form' }) do |f| %>
  
    <%= f.hidden_field :course_id, class: "input-control" %>
    

    <div class="group-info group-info-edit clearfix">
        <div class="col-md-6">
          <div class="group-num"><strong>Group #:</strong></div> 
          <%= f.text_field :group, class: "input-control group-num-input" %>
        </div>
        <div class="col-md-6">
          <div class="project-name"><strong>Project Name:</strong></div>
          <%= f.text_field :project, class: "input-control project-name-input" %>
        </div>
    </div>

    <div class="question question-edit clearfix">
        <div class="col-md-12 question-section adv-comment" id="comment_q1"><%= @inquestions1.cq1 %></div>
        <div class="col-md-12 comment-content comment-edit">
           <span class="fa fa-comment adv-comment-color"> Comment:</span>  
           <%= f.text_area :strength, class: 'input-control comment-textarea' %>
        </div>
    </div>

    <div class="question question-edit clearfix">
        <div class="col-md-12 question-section adv-comment" id="comment_q2"><%= @inquestions1.cq2 %></div>
        <div class="col-md-12 comment-content comment-edit">
           <span class="fa fa-comment adv-comment-color"> Comment:</span>  
           <%= f.text_area :weakness, class: 'input-control comment-textarea' %>
        </div>
    </div>

    <div class="question question-edit clearfix">
        <div class="col-md-12 question-section adv-comment" id="comment_q3"><%= @inquestions1.cq3 %></div>
        <div class="col-md-12 comment-content comment-edit">
           <span class="fa fa-comment adv-comment-color"> Comment:</span>  
           <%= f.text_area :improvement, class: 'input-control comment-textarea' %>
        </div>
    </div>

    <div class="question question-edit clearfix">
        <div class="col-md-12 question-section adv-comment" id="comment_q4"><%= @inquestions1.cq4 %></div>
        <div class="col-md-12 comment-content comment-edit">
           <span class="fa fa-comment adv-comment-color"> Comment:</span>  
           <%= f.text_area :fund, class: 'input-control comment-textarea' %>
        </div>
    </div>

    <div class="btn-section" style="margin-top: 25px;">
      <%= f.submit 'Save', class: 'save-btn save-comment-btn' %>
      <%= link_to 'Back', comments_path, class: 'back-btn'%>
    </div>

  <% end %>

</div>
