<div id="dashboard_show">
  <%= render 'layouts/banner'; %>

  <% if current_user.role.name == 'Admin' %>
    <div id="links">
      <div class="wrapper_skinny1">
        <ul>
          <li class="current">Manage Comments</li>
          <li><%= link_to "Manage Grades", grades_path %></li>
          <li><%= link_to "Manage Users", users_path %></li>
          <li><%= link_to "Manage Courses", courses_path %></li>
          <li><%= link_to "Create PDF report", welcome_search_path %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div><!-- dashboard_show -->

<% if current_user.role.name == 'Instructor' %>
  
  <div class="wrapper_wide clearfix" style="padding-bottom: 5em;">
    
    <% if current_user.role.name == 'Instructor' %>
      <div style="margin-bottom: 20px; margin-top: 40px; float: right;">
           <%= link_to 'Evaluate Presentation', new_grade_path(:course => 1 ), class: 'btn btn-primary', id: 'create_grade' %>
      </div>

      <div class="form-inline" style="margin-top: 40px; margin-bottom: 20px; float: left;">
        <img src="<%= asset_path( 'ajax-loader.gif' ) %>" alt="ajax-loader" id="loading" style="margin-left: 10px; display:none;">
        <label style="margin-right: 5px;">Course</label>
      
        <%= collection_select :grade, :course_id, Course.all, :id, :course_name, {prompt: 'Please select a course'}, {class: 'form-control', 'data-remote' => true, 'data-url' => '/grades/questiondisplay', "data-type"=> 'json'} %>
      </div>
    <% end %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Group Number</th>
          <th>Project Name</th>
          <th>Evaluator</th>
          <th>Role</th>
          <th>Created Time</th>
          <th>Final Grade</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @grades.each do |grade| %>
          <tr>
            <td><%= grade.group %></td>
            <td><%= link_to grade.project, grade, class: 'tag' %></td>
            <td><%= grade.user.full_name %></td>
            <td><%= grade.user.role.name %></td>
            <td><%= grade.created_at.strftime("%m/%d/%Y") %></td>
            <td><%= grade.totalscore %></td>
            

            <td colspan="2" style="width: 20%;">
              <%= link_to edit_grade_path(grade), class: 'btn btn-primary' do %>
                <i class='fa fa-pencil-square-o'></i>
              <% end %>
              
              <div style="display:inline-block;">
                <button class="delete-confirm btn btn-danger"><i class="fa fa-trash-o"></i></button>
                <%= link_to grade, method: :delete, class: 'delete-button' do%>
                  <i class='fa fa-pencil-square-o'></i>
                <% end %>
              </div>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="pull-right">
      
    </div>
  </div>

<% else %>

  <div class="wrapper_wide clearfix" style="padding-bottom: 5em;">
    
    <% if current_user.role.name == 'Advisory Board' %>
      <div style="margin-bottom: 20px; margin-top: 40px; float:right;">
           <%= link_to 'Evaluate Presentation', new_comment_path(:course => 1 ), class: 'btn btn-primary', id: 'create_comment'%>
      </div>

      <div class="form-inline" style="margin-top: 40px; margin-bottom: 20px; float: left;">
        <img src="<%= asset_path( 'ajax-loader.gif' ) %>" alt="ajax-loader" id="loading" style="margin-left: 10px; display:none;">
        <label style="margin-right: 5px;">Course</label>
      
        <%= collection_select :comment, :course_id, Course.all, :id, :course_name, {prompt: 'Please select a course'}, {class: 'form-control', 'data-remote' => true, 'data-url' => '/comments/questiondisplay', "data-type"=> 'json'} %>
      </div>

    <% end %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Group Number</th>
          <th>Project Name</th>
          <th>Evaluator</th>
          <th>Role</th>
          <th>Created Time</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.group %></td>
            <td><%= link_to comment.project, comment, class: 'tag' %></td>
            <td><%= comment.user.full_name %></td>
            <td><%= comment.user.role.name %></td>
            <td><%= comment.created_at.strftime("%m/%d/%Y") %></td>
            

            <td colspan="2" style="width: 20%;">
              <%= link_to edit_comment_path(comment), class: 'btn btn-primary' do %>
                <i class='fa fa-pencil-square-o'></i>
              <% end %>
              
              <div style="display:inline-block;">
                <button class="delete-confirm btn btn-danger"><i class="fa fa-trash-o"></i></button>
                <%= link_to comment, method: :delete, class: 'delete-button' do%>
                  <i class='fa fa-pencil-square-o'></i>
                <% end %>
              </div>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="pull-right">
      
    </div>
  </div>

<% end %>
