
<%= render 'layouts/banner'; %>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Project</th>
      <th>Strength</th>
      <th>Weakness</th>
      <th>Improvement</th>
      <th>Fund</th>
      <th>Advisory Board</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.group %></td>
        <td><%= comment.project %></td>
        <td><%= comment.strength %></td>
        <td><%= comment.weakness %></td>
        <td><%= comment.improvement %></td>
        <td><%= comment.fund %></td>
        <td><%= comment.user.first_name %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
