<div class="grade-container">
    <h2 class="grade-header">Comment Report Details</h2>

    <div class="grade-content">
        <div class="group-info clearfix" style="border-bottom: 0;">
          <p class="pull-left"><strong>Group #:</strong> <%= @comment.group %></p>
          <p class="pull-right"><strong>Project Name:</strong> <%= @comment.project %></p>
        </div>

        <div class="group-info group-info-comment clearfix">
          <p class="pull-left"><strong>Course:</strong> <%= @comment.course.course_name %></p> 
          <p class="pull-right">
              <span class="fa fa-pencil"></span>
              <strong>Advisory Board:</strong> <%= @comment.user.full_name %>
          </p>

        </div>

        <div class="question clearfix">
            <div class="col-md-12 question-section adv-comment">1. <%= @comment.course.cq1 %></div>
            <div class="col-md-12 comment-content clearfix">
               <span class="fa fa-comment adv-comment-color"> Comment:</span>
               <div class="content">
                  <%= @comment.strength %>
               </div>
            </div>
        </div>

        <div class="question clearfix">
            <div class="col-md-12 question-section adv-comment">2. <%= @comment.course.cq2 %></div>
            <div class="col-md-12 comment-content clearfix">
               <span class="fa fa-comment adv-comment-color"> Comment:</span>
               <div class="content">
                  <%= @comment.weakness %>
               </div>
            </div>
        </div>

        <div class="question clearfix">
            <div class="col-md-12 question-section adv-comment">3. <%= @comment.course.cq3 %></div>
            <div class="col-md-12 comment-content clearfix">
               <span class="fa fa-comment adv-comment-color"> Comment:</span>
               <div class="content">
                  <%= @comment.improvement %>
               </div>
            </div>
        </div>

        <div class="question clearfix">
            <div class="col-md-12 question-section adv-comment">4. <%= @comment.course.cq4 %></div>
            <div class="col-md-12 comment-content clearfix">
               <span class="fa fa-comment adv-comment-color"> Comment:</span>
               <div class="content">
                  <%= @comment.fund %>
               </div>
            </div>
        </div>

        <div class="col-md-12 adv-board clearfix">
          
        </div>

        <div class="btn-section">
          <%= link_to 'Edit', edit_comment_path(@comment), class: 'edit-btn' %>
          <%= link_to 'Back', comments_path, class: 'back-btn'%>
        </div>

    </div>
</div>

