<div>
  <h1>Summary report of the presentation</h1>

  <% @reportComments.each do |comment| %>
    <div style='page-break-after:always;' style="padding-top: 1.5em;">
      <div class="col-md-6 col-md-offset-3">
        <div class="row">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2>Comment Report Details</h2>
            </div>

            <div class="panel-body">
              <section class="col-md-6">
                  <h4>Group Number: <%= comment.group %></h4>
              </section>
              <section class="col-md-6">
                  <h4>Project Name: <%= comment.project %></h4>
              </section>

              <section class="col-md-12 form-group">
                <label class="comment_label">What are the strengths of this presentation(clarity, flow, delivery, visuals etc.)?</label><br/>
                <div class="comment_content">Comment: <%= comment.strength %></div>
              </section>

              <hr>

              <section class="col-md-12 form-group">
                <label class="comment_label">What are its primary weaknesses?</label><br/>
                <div class="comment_content">Comment: <%= comment.weakness %></div>
              </section>

              <hr>

              <section class="col-md-12 form-group">
                <label class="comment_label">Was it clear to you what improvement was being proposed and do you find its benefits compelling? Why or why not?</label><br/>
                <div class="comment_content">Comment: <%= comment.improvement %></div>
              </section>

              <hr>

              <section class="col-md-12 form-group">
                <label class="comment_label">If this were presented to you would you be inclined to agree to move ahead and fund this project?<small> (It is understood that you would probably require a lot of additional detailed information to make this decision. We are simply asking whether the high level idea and the approach, costs/benefits etc.) make this seem like a worthwhile project to you.</small></label><br/>
                <div class="comment_content">Comment: <%= comment.fund %></div>
              </section>

            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
