<div id="dashboard_show" style="padding-bottom: 7em;">
  <%= render 'layouts/banner'; %>

  <div id="links">
    <div class="wrapper_skinny1">
      <ul>
        <li><%= link_to "Manage Comments", comments_path %></li>
        <li><%= link_to "Manage Grades", grades_path %></li>
        <li><%= link_to "Manage Users", users_path %></li>
        <li><%= link_to "Manage Courses", courses_path %></li>
        <li class="current">Create PDF report</li>
      </ul>
    </div>
  </div>
	

  <div class="wrapper_search">
	  <div class="form-inline">
			<label style="margin-right: 5px;">Group Number</label>
			<%= text_field_tag(:group, nil, :class => 'form-control', :style => 'margin-right: 15px;', :'data-remote' => true, :'data-url' => '/welcome/display', :'data-type' => 'json') %> 

			<button class="btn btn-primary" id="genPdf" data-remote="true" data-url="/welcome/display" data-type="json">Search</button>
			<img src="<%= asset_path( 'ajax-loader.gif' ) %>" alt="ajax-loader" id="loading" style="margin-left: 10px; display:none;">
			
	  </div>
	</div>

	<div id="search_result" class="wrapper_wide clearfix" style="padding-bottom: 5em;">
		<div class="wrapper_rules error" style="margin-top: 1em; color: red;"></div>
		<div id="createPdf" style="padding-top: 25px; margin-bottom:20px; float: right"></div>
		<div class="search_result"></div>
	</div>

	<%= render 'layouts/search' %>

</div>

