<% if @course.errors.any? %>
  <div class="alert alert-danger">
    <% @course.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>

<%= form_for(@course, html: {role: 'form' }) do |f| %>

  <div class="group-info group-info-edit clearfix">
    <div class="col-md-12">
      <div class="group-num" style="width: 13%;"><strong>Course #:</strong></div> 
      <%= f.text_field :course_name, class: "input-control group-course-input"  %>
    </div>
    
  </div>

  <div class="group-info group-info-comment clearfix" style="padding: 10px;">
    <p class="pull-left"><strong>Comment Questions Section:</strong></p>
  </div>

  <div class="question question-edit clearfix">
    <div class="col-md-12 comment-content comment-edit">
       <span class="fa fa-question-circle adv-comment-color"> Question 1:</span>  
       <%= f.text_area :cq1, class: 'input-control comment-textarea' %>
    </div>
  </div>

  <div class="question question-edit clearfix">
    <div class="col-md-12 comment-content comment-edit">
       <span class="fa fa-question-circle adv-comment-color"> Question 2:</span>  
       <%= f.text_area :cq2, class: 'input-control comment-textarea' %>
    </div>
  </div>

  
  <div class="question question-edit clearfix">
    <div class="col-md-12 comment-content comment-edit">
       <span class="fa fa-question-circle adv-comment-color"> Question 3:</span>  
       <%= f.text_area :cq3, class: 'input-control comment-textarea' %>
    </div>
  </div>
  
  <div class="question question-edit clearfix" style="border-bottom: 0;">
    <div class="col-md-12 comment-content comment-edit">
       <span class="fa fa-question-circle adv-comment-color"> Question 4:</span>  
       <%= f.text_area :cq4, class: 'input-control comment-textarea' %>
    </div>
  </div>

  <div class="group-info group-info-comment clearfix" style="padding: 10px;">
    <p class="pull-left"><strong>Grade Questions Section:</strong></p>
  </div>

  <div class="question question-edit clearfix">
    <div class="col-md-12 comment-content comment-edit">
       <span class="fa fa-question-circle adv-comment-color"> Question 1:</span>  
       <%= f.text_area :gq1, class: 'input-control comment-textarea' %>
    </div>
  </div>

  <div class="question question-edit clearfix">
    <div class="col-md-12 comment-content comment-edit">
       <span class="fa fa-question-circle adv-comment-color"> Question 2:</span>  
       <%= f.text_area :gq2, class: 'input-control comment-textarea' %>
    </div>
  </div>

  <div class="question question-edit clearfix">
    <div class="col-md-12 comment-content comment-edit">
       <span class="fa fa-question-circle adv-comment-color"> Question 3:</span>  
       <%= f.text_area :gq3, class: 'input-control comment-textarea' %>
    </div>
  </div>

  
  <div class="question question-edit clearfix">
    <div class="col-md-12 comment-content comment-edit">
       <span class="fa fa-question-circle adv-comment-color"> Question 4:</span>  
       <%= f.text_area :gq4, class: 'input-control comment-textarea' %>
    </div>
  </div>


  <div class="question question-edit clearfix">
    <div class="col-md-12 comment-content comment-edit">
       <span class="fa fa-question-circle adv-comment-color"> Question 5:</span>  
       <%= f.text_area :gq5, class: 'input-control comment-textarea' %>
    </div>
  </div>

  <div class="question question-edit clearfix">
    <div class="col-md-12 comment-content comment-edit">
       <span class="fa fa-question-circle adv-comment-color"> Question 6:</span>  
       <%= f.text_area :gq6, class: 'input-control comment-textarea' %>
    </div>
  </div>

  
  <div class="question question-edit clearfix">
    <div class="col-md-12 comment-content comment-edit">
       <span class="fa fa-question-circle adv-comment-color"> Question 7:</span>  
       <%= f.text_area :gq7, class: 'input-control comment-textarea' %>
    </div>
  </div>
  

  <div class="btn-section" style="margin-top: 25px;">
      <%= f.submit 'Save', class: 'save-btn save-comment-btn' %>
      <%= link_to 'Back', courses_path, class: 'back-btn'%>
    </div>
  
<% end %>
