<div id="dashboard_show">
  <%= render 'layouts/banner'; %>

  <div id="links">
    <div class="wrapper_skinny1">
      <ul>
        <li><%= link_to "Manage Comments", comments_path %></li>
        <li><%= link_to "Manage Grades", grades_path %></li>
        <li><%= link_to "Manage Users", users_path %></li>
        <li class="current">Manage Courses</li>
        <li><%= link_to "Create PDF report", welcome_search_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper_wide" style="padding-bottom: 5em;">
  <div class="pull-right" style="margin-bottom: 20px;">
       <%= link_to 'Create New Course', new_course_path, class: 'btn btn-primary' %>
  </div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Course Number</th>
      <th>Created Time</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.course_name, course, class: 'tag' %></td>
        <td><%= course.created_at.strftime("%m/%d/%Y") %></td>

        <td colspan="8" style="width: 20%;">
          <%= link_to edit_course_path(course), class: 'btn btn-primary' do %>
            <i class='fa fa-pencil-square-o'></i>
          <% end %>
          
          <div style="display:inline-block;">
            <button class="delete-confirm btn btn-danger"><i class="fa fa-trash-o"></i></button>
            <%= link_to course, method: :delete, class: 'delete-button' do%>
              <i class='fa fa-pencil-square-o'></i>
            <% end %>
          </div>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

</div>

