<div class="grade-container">
  <h2 class="grade-header">Course Questions Details</h2>

  <div class="grade-content">

    <div class="group-info group-info-edit clearfix">
      <div class="col-md-12">
         <p class="pull-left"><strong>Course #:</strong> <%= @course.course_name %></p>
      </div>
    </div>

    <div class="group-info group-info-comment clearfix" style="padding: 15px;">
      <p class="pull-left"><strong style="color: #000;">Comment Questions Section:</strong></p>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color"> Question 1:</span>
         <div class="content">
            <%= @course.cq1 %>
         </div>
      </div>
    </div>


    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color"> Question 2:</span>
         <div class="content">
            <%= @course.cq2 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color"> Question 3:</span>
         <div class="content">
            <%= @course.cq3 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1" style="border-bottom: 0;">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color"> Question 4:</span>
         <div class="content">
            <%= @course.cq4 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1" style="border-bottom: 0;">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color"> Question 5:</span>
         <div class="content">
            <%= @course.cq5 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1" style="border-bottom: 0;">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color"> Question 6:</span>
         <div class="content">
            <%= @course.cq6 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1" style="border-bottom: 0;">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color"> Question 7:</span>
         <div class="content">
            <%= @course.cq7 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1" style="border-bottom: 0;">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color"> Question 8:</span>
         <div class="content">
            <%= @course.cq8 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1" style="border-bottom: 0;">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color"> Question 9:</span>
         <div class="content">
            <%= @course.cq9 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1" style="border-bottom: 0;">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color"> Question 10:</span>
         <div class="content">
            <%= @course.cq10 %>
         </div>
      </div>
    </div>

    <div class="group-info group-info-comment clearfix" style="padding: 10px;">
      <p class="pull-left"><strong style="color: #000;">Grade Questions Section:</strong></p>
    </div>


    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 1:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw1 %>%</strong></p>
         <div class="content">
            <%= @course.gq1 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 2:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw2 %>%</strong></p>
         <div class="content">
            <%= @course.gq2 %>
         </div>
      </div>
    </div>


    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 3:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw3 %>%</strong></p>
         <div class="content">
            <%= @course.gq3 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 4:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw4 %>%</strong></p>         
         <div class="content">
            <%= @course.gq4 %>
         </div>
      </div>
    </div>


    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 5:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw5 %>%</strong></p>
         <div class="content">
            <%= @course.gq5 %>
         </div>
      </div>
    </div>


    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 6:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw6 %>%</strong></p>
         <div class="content">
            <%= @course.gq6 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 7:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw7 %>%</strong></p>
         <div class="content">
            <%= @course.gq7 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 8:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw8 %>%</strong></p>
         <div class="content">
            <%= @course.gq8 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 9:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw9 %>%</strong></p>
         <div class="content">
            <%= @course.gq9 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 10:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw10 %>%</strong></p>
         <div class="content">
            <%= @course.gq10 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 11:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw11 %>%</strong></p>
         <div class="content">
            <%= @course.gq11 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 12:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw12 %>%</strong></p>
         <div class="content">
            <%= @course.gq12 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 13:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw13 %>%</strong></p>
         <div class="content">
            <%= @course.gq13 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 14:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw14 %>%</strong></p>
         <div class="content">
            <%= @course.gq14 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 15:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw15 %>%</strong></p>
         <div class="content">
            <%= @course.gq15 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 16:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw16 %>%</strong></p>
         <div class="content">
            <%= @course.gq16 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 17:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw17 %>%</strong></p>
         <div class="content">
            <%= @course.gq17 %>
         </div>
      </div>
    </div>


    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 18:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw18 %>%</strong></p>
         <div class="content">
            <%= @course.gq18 %>
         </div>
      </div>
    </div>


    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 19:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw19 %>%</strong></p>
         <div class="content">
            <%= @course.gq19 %>
         </div>
      </div>
    </div>

    <div class="question clearfix question1">
      <div class="col-md-12 comment-content clearfix">
         <span class="fa fa-question-circle adv-comment-color col-md-8"> Question 20:</span>
         <p class="col-md-4 adv-comment-color ">Weight:<strong>  <%=@course.gw20 %>%</strong></p>
         <div class="content">
            <%= @course.gq20 %>
         </div>
      </div>
    </div>


    <div class="col-md-12 adv-board clearfix"></div>

    <div class="btn-section">
      <%= link_to 'Edit', edit_course_path(@course), class: 'edit-btn' %>
      <%= link_to 'Back', courses_path, class: 'back-btn'%>
    </div>

  </div>

</div>
