

<p>
  <strong>Course name:</strong>
  <%= @course.course_name %>
</p>

<p>
  <strong>Cq1:</strong>
  <%= @course.cq1 %>
</p>

<p>
  <strong>Cq2:</strong>
  <%= @course.cq2 %>
</p>

<p>
  <strong>Cq3:</strong>
  <%= @course.cq3 %>
</p>

<p>
  <strong>Cq4:</strong>
  <%= @course.cq4 %>
</p>

<p>
  <strong>Gq1:</strong>
  <%= @course.gq1 %>
</p>

<p>
  <strong>Gq2:</strong>
  <%= @course.gq2 %>
</p>

<p>
  <strong>Gq3:</strong>
  <%= @course.gq3 %>
</p>

<p>
  <strong>Gq4:</strong>
  <%= @course.gq4 %>
</p>

<p>
  <strong>Gq5:</strong>
  <%= @course.gq5 %>
</p>

<p>
  <strong>Gq6:</strong>
  <%= @course.gq6 %>
</p>

<p>
  <strong>Gq7:</strong>
  <%= @course.gq7 %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
