<!DOCTYPE html>
<html>
<head>
  <title>Presentationsys</title>
  <link rel="stylesheet" type="text/css" href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css'/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href='//cdnjs.cloudflare.com/ajax/libs/sweetalert/0.5.0/sweet-alert.css'/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/0.5.0/sweet-alert.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if alert %>
  	<div id="notice_wrapper">
  		<p class="alert"><%= alert %></p>
  	</div>
  <% elsif notice %>
  	<div id="notice_wrapper">
  		<p class="notice"><%= notice %></p>
  	</div>
  <% end %>



  <%= render 'layouts/header'; %>

  <div id="content-div" class="cf ">
    <%= yield %>
  </div>


  <footer class="page-wrap">
    <div class="wrapper_rules cf">
      <p>&copy; 2015. All Right Reserved.</p>
    </div>
  </footer>



<script>
  //function to control flash message fadeout
  $(document).ready(function(){
    setTimeout(function() {
      $('#notice_wrapper').fadeOut("slow", function() {
        $(this).remove();
      });
    }, 4000 );
  });
</script>


</body>
</html>
